# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.2D_Platformer.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity-Storage\2D_Platformer_GB\2D_Platformer\.idea\.idea.2D_Platformer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
